*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(234, 202, 230);
}

.main-container{
    width: fit-content;
    background-color: white;
    margin: 100px auto;
    padding: 30px;
    border-radius:30px;
}

.container{
    width: fit-content;
    background-color: white;
    margin: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,50px);
    gap: 15px;
}

.btn{
    background-color: white;
    border-radius: 50%;
    border: none;
    font-size: medium;
    font-weight: 600;
    color: gray;
    width:50px;
    height:50px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
}

#equal{
    grid-column: span 2;
    width: calc(50px * 2 + 15px);
    border-radius: 50px;
    background-color: rgb(236, 189, 197);

}

#result{
    max-width:250px;
    height:60px;
    border-radius: 30px;
    border:none;
    justify-content: center;
    background-color: rgb(189, 255, 232,0.1);
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    text-align: end;
    color: rgb(148, 147, 147);
    font-size: 24px;
    font-weight: 600;
    padding-right: 20px;
}