body{
    background-color: rgb(234, 202, 230);
}

.main-container{
    width: fit-content;
    background-color: white;
    margin: auto;
    padding: 30px;
    border-radius:30px;
}
.container{
    width: fit-content;
    background-color: white;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4,70px);
    gap: 10px;
}

.btn{
    background-color: white;
    border-radius: 50%;
    border: none;
    width:50px;
    height:50px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);;
}

#result{
    width: 90%;
    height:70px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}